body{
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;

}
#img1{
    margin:40px;
    margin-top: 60px;
    height: 200px;
    width: 800px;
}
.img{
    
    margin-right: 1000px;
    margin-top: 10px;
    height: 250px;
    width: 200px;
}
a{
    color: red;
}
h1{
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;

}
h3{
    margin: 20px;
}
p{
    margin-right: 100px;
    text-align: left;
    text-justify: auto;
    }
#para1{
    text-align: right;
    margin: auto;
    margin-top: 100px;
    margin-left: 900px;
    margin-right: 90px;
    font-size: 100px;
    color: red;
    border: solid 6px;
    animation-name:examp; 
    animation-duration:3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#para2{
    box-shadow: 0px 0px 10px tomato;
    text-align: center;
    margin: auto;
    font-size: 100px;
    color: red;
    text-shadow: 0px 0px 10px tomato;
    border: solid 6px;
}
#para3{
    position: relative;
    text-align: center;
    margin-top: 80px;
    margin-left: 620px;
    margin-right: 450px;
    width:600px;
    background-color: dimgray;
    color: black;
    padding: 20px;

}
table,td,th{
    table-layout: fixed;
    border-color: tomato;
    box-shadow: 0px 0px 10px tomato;
    margin-bottom: auto;
    border: 5px solid black;
    border-collapse: collapse;
    border border-radius: 5px;
    padding: 5px;
}
td:hover {background-color:gray;}

#table3{
    font-family: 'Russo One', sans-serif;
    margin-left: 250px;
    padding: 15px;
    margin-right: auto;
    margin: 10px;
    transform: translateX(250px);
    text-shadow: 0px 0xp 5px tomato;
}
#table4{
    
    padding: 25px;
}

#p3{
    
    text-shadow: 0px 0px 10px tomato;
}
@keyframes examp2{
    100% {transform:translate(510px,405px)};
}
#img45{
    left: 0;
    right: 0;
    transform: translate(0px,405px);
    position: absolute;
    height: 240px;
    width: 380px;
    background-repeat: repeat;
    animation: examp2 10s linear infinite;
}
#img46{
    left: 0;
    right: 0;
    transform: translate(400px,405px);
    position: absolute;
    height: 240px;
    width: 380px;
    background-repeat: repeat;
    animation: examp2 10s linear infinite;
}
@keyframes examp{
    0% {text-shadow: 0px 0px 50px tomato};
    25% {text-shadow: 0px 0px 2px tomato};
    100% {text-shadow: 0px 0px 50px tomato};
}
#p5{
    text-shadow: 0px 0px 5px tomato;
}
#p6{
    color: whitesmoke;
    text-shadow: 0px 0px 10px tomato;
    font-size: 50px;
}
#p7{
    color:black;
    margin: auto;
}
#button1{
    margin-top: 15px;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 10px tomato;
}
#p11{
    padding: 20px;
    box-shadow: 0px 0px 10px tomato;
    border: 5px solid red;
}
